<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<connectionStrings>
		<add name="db" connectionString="Data Source=g:\fo_data;User ID=FODATA1;Password=FODATA;ServerType=LOCAL;ReadOnly=TRUE;TableType=NTX" />
	</connectionStrings>
	<appSettings>
		<add key="Mode" value="Daily" />
		<add key="ScheduledTime" value="04:00" />
		<!-- add key="Mode" value="Interval" />
		<add key ="IntervalMinutes" value ="1"/ -->
		<add key="ReservationsFile" value="SOB_Hotelsoft_Reserve_{0:yyyyMMdd}.csv" />
		<add key="AvailabilityFile" value="SOB_Hotelsoft_Availability_{0:yyyyMMdd}.csv" />
		<add key="GroupsFile" value="SOB_Hotelsoft_Groups_{0:yyyyMMdd}.csv" />
		<add key="HistReservationFile" value="SOB_Hotelsoft_Historydata_{0:yyyyMMdd}.csv" />
		<add key="DropboxToken" value="5ziQox4oMd8AAAAAAAAFTEX7sdjr02M3KVhvlcsGHjIIZywqpQT-0i4ZcNYvXf1G" />
		<add key="DropboxFolder" value="/Castle_SOB Data"/>
		<add key="DropboxLocalFolder" value="."/>
	</appSettings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File"
					fileName="${basedir}/logs/logfile.txt"
					archiveFileName="log.{#}.txt" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="7"
					concurrentWrites="true" keepFileOpen="false"
					layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=tostring}" />
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>
</configuration>