<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<connectionStrings>
		<add name="db" connectionString="Data Source=g:\fo_data;User ID=FODATA1;Password=FODATA;ServerType=LOCAL;ReadOnly=TRUE;TableType=NTX" />
		<add name="csv" connectionString="Driver={Microsoft Text Driver (*.txt; *.csv)};Dbq=C:\kesav\SOB_Tables_data_2016-06-28\;Extensions=asc,csv,tab,txt;" />
		<add name="csv1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\kesav\SOB_Tables_data_2016-06-28\;Extended Properties='text;HDR=Yes;FMT=Delimited';" />
	</connectionStrings>

	<appSettings>
		<add key="ReservationsFile" value="SOB_Hotelsoft_Reserve_{0:yyyyMMdd}.csv" />
		<add key="AvailabilityFile" value="SOB_Hotelsoft_Availability_{0:yyyyMMdd}.csv" />
		<add key="GroupsFile" value="SOB_Hotelsoft_Groups_{0:yyyyMMdd}.csv" />
		<add key="HistReservationFile" value="SOB_Hotelsoft_Historydata_{0:yyyyMMdd}.csv" />
		<add key="DropboxToken" value="5ziQox4oMd8AAAAAAAAFTEX7sdjr02M3KVhvlcsGHjIIZywqpQT-0i4ZcNYvXf1G" />
		<add key="DropboxFolder" value="/Castle_SOB Data"/>
		<add key="LocalDropboxFoler" value="C:\Users\salestemp\Dropbox (Hotelsoft)\Castle_SOB Data"/>
	</appSettings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=tostring}" />
		</targets>

		<rules>
			<logger name="*" minlevel="Trace" writeTo="console" />
		</rules>
	</nlog>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>